*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
    background: rgb(145, 233, 255);
    font-size: 16px;
}
section{
    
}
h1{
    font-size: 3em;
}

.session{
    background: yellow;
    margin-bottom: 2em;
    
    border-radius: 10px;
    overflow: hidden;
}

.session .top{
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.session .bottom{
    background: green;
    padding: 0.5em;
}

button{
    cursor: pointer;
}

li{
    list-style: none;
}
